@import '@scss/variables';
@import '@scss/mixins';

.headerTable {
  width: 100%;
  padding-bottom: 17px;
  border-bottom: $border !important;

  tr {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    @include flex(center, space-between);
    th {
      text-align: start;
      width: 19%;
      &:nth-child(5),
      &:nth-child(6) {
        width: 12%;
      }
    }
  }
}
