@import '@scss/variables';
@import '@scss/mixins';

.cartCalculationArea {
  grid-area: adjustments;
  background: $greyFive;
  padding: 30px;
  height: fit-content;

  @media (max-width: 767px) {
    padding: 20px;
  }

  .lineDivine {
    border-top: $borderFour;
  }

  .summaryContainer {
    @include flex(center, space-between);
    flex-direction: row;

    .title {
      font-size: 18px;
      font-weight: 400;
      line-height: 23.4px;
      color: $textColor;
      text-align: left;
      @include respond(large-mobile) {
        font-weight: 500;
      }
    }

    .count {
      font-size: 13px;
      color: $textColor;
      font-weight: 300;
      line-height: 16.9px;
      text-align: right;
      @include respond(large-mobile) {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  .priceSummaryContainer {
    .line {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr auto;
      line-height: 1.5rem;
      margin: 20px auto;

      .total {
        margin: 35px auto 20px;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr auto;
        line-height: 1.5rem;

        .label {
          justify-self: flex-start;
          font-size: 16px;
          font-weight: 300;
          color: $textColor;
          line-height: 24px;
          @include respond(large-mobile) {
            font-weight: 500;
            font-size: 15px;
          }
        }

        .price {
          justify-self: flex-end;
          font-size: 14px;
          line-height: 24px;
          color: $textColor;
          font-weight: 300;
        }

        .bold {
          justify-self: flex-start;
          font-size: 16px;
          font-weight: 500;
          color: $textColor;
          @include respond(large-mobile) {
            font-size: 15px;
          }
        }
      }

      .label {
        justify-self: flex-start;
        font-size: 16px;
        font-weight: 300;
        color: $textColor;
        line-height: 24px;
        @include respond(large-mobile) {
          font-weight: 500;
          font-size: 15px;
        }
      }

      .price {
        justify-self: flex-end;
        font-size: 16px;
        line-height: 24px;
        color: $textColor;
        font-weight: 300;
      }

      .label--bold {
        justify-self: flex-start;
        font-size: 16px;
        font-weight: 500;
        color: $textColor;
        @include respond(large-mobile) {
          font-size: 15px;
        }
      }

      .price--bold {
        justify-self: flex-end;
        font-size: 16px;
        font-weight: 500;
        color: $textColor;
      }
    }

    .checkout-button {
      width: 100%;
      height: 48px;
      color: $white;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      background: $textColor;
      border: none;
      outline: none;

      &:disabled {
        background: $disabled;
      }
    }
  }
}

// .submitButton {
//   min-height: unset;
//   height: 40px;
//   min-width: 150px;
//   width: 100%;
//   background: $textColor;
//   color: $white;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 16.8px;
//   border: none;

//   @media (max-width: 767px) {
//     min-width: 100px;
//   }
// }

.discountForm {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 50px;

  .couponInput {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    font-size: 14px;
    line-height: 24px;
    color: $textColor;
    height: 40px;
    padding: 0 0.75rem;

    .error {
      border: 1px solid $errorTextColor;
    }
    &:focus {
      outline: none !important;
    }
  }

  .submitButton {
    min-height: unset;
    height: 40px;
    min-width: 150px;
    width: 100%;
    background: rgb(0, 104, 52);
    color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    border: none;
    cursor: pointer;

    @media (max-width: 767px) {
      min-width: 100px;
    }
  }

  .errorMessage {
    text-align: flex-start;
    padding: 0.625rem 0.125rem 0.125rem;
    color: $errorTextColor;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
.button {
  max-width: 1200px !important;
}
