@import '@scss/variables';
@import '@scss/mixins';

.total {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 180px;
  padding: 36px 40px;
  margin-inline-start: auto;
  @include respond(large-mobile) {
    padding: 22px 16px;
  }
  .totalItem {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    @include flex(center, space-between);
    @include respond(large-mobile) {
      font-size: 14px;
      font-weight: 300;
    }
  }
  .totalItem:last-child {
    font-weight: 500 !important;
  }
  .price {
    @include flex(center, flex-start);
    gap: 3px;
  }
}
.title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
