.itemOrderMobile {
  margin-top: 20px;
}

.reviewOrderTitle {
  h2 {
    margin: 27px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
  }
  h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}
