@import '@scss/variables';
@import '@scss/mixins';
.checkoutInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    background-color: $colorBackgroundReview;
    padding: 17px 20px;
    color: $textColor;
    font-weight: 600;
    font-size: 30px;
    line-height: 36.4px;
    @include respond(large-mobile) {
      font-size: 22px;
      list-style: 28.4px;
    }
  }
  .phone {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #cdcdcd;
    max-width: 450px;
    height: 40px;
    padding: 0 6px;
    img {
      width: 32px;
      user-select: none;
    }
    input {
      outline: none;
      border: none;
      pointer-events: none;
    }
  }

  .name {
    font-weight: 500;
    margin-bottom: 5px;
    display: inline;
  }
  .phone-number {
    display: inline;
  }
}
