@import '@scss/mixins';
.imageContainer {
  position: relative;
  & > a {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  }
  //height: 300px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin: auto;
    object-fit: contain;
    width: 100%;
    height: 100%;
    @include respond(large-mobile) {
      height: 150px;
      width: 140px;
    }
  }

  :global(.lazy-load-image-background.lazy-load-image-loaded) {
    width: 100%;
    height: 100%;
  }
}
