@import '@scss/variables';
@import '@scss/mixins';
.breadcrumbs {
  @include flex(center, flex-start);
  flex-wrap: wrap;

  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: $greySix;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  color: $black;
  .link {
    opacity: 0.7;
    white-space: normal;
  }
  .text {
    padding: 0.25rem;
    white-space: normal;
  }
  .current {
    padding: 0.25rem;
    @media (max-width: 767px) {
      white-space: normal;
      opacity: 1;
      @include text-overflow(1);
      max-width: 200px;
    }
  }
}
