@import '@scss/variables';
@import '@scss/mixins';

.container {
  width: 100%;
  height: 600px !important;
  margin: 110px 0 200px;
  padding: 0 20px;
}
.errorBackground {
  width: 100%;
  @include flex(center, center);
  margin: 0 auto 70px;
  height: 100%;
  position: relative;
  max-height: 362px;
  width: 362px !important;
  @include respond(large-mobile) {
    max-height: 228px !important;
    width: 228px !important;
  }
  @include respond(small-mobile) {
    max-height: 228px !important;
    width: 228px !important;
  }
  @include respond(extra-small-mobile) {
    max-height: 228px !important;
    width: 228px !important;
  }

  .errorBackgroundImg {
    width: 100% !important;
    height: 100% !important;
    max-width: 362px !important;
    max-height: 362px !important;
  }
}

.content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  .title,
  .description {
    text-align: center;
  }
  .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 24px;
    @include respond(large-mobile) {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }
  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 30px;
    @include respond(large-mobile) {
      font-size: 16px;
    }
  }
  .wrapperButton {
    @include flex(center, center);
    gap: 32px;
    margin: 0 auto;
    @include respond(large-mobile) {
      flex-direction: column;
      gap: 16px;
    }
    .goToHomeBtn,
    .goBackBtn {
      width: 100%;
      height: 48px;
      max-width: 200px;
      border: none;
      outline: none;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      @include flex(center, center);
      @include respond(large-mobile) {
        max-width: 320px;
      }
    }
    .goBackBtn {
      color: $primaryColor;
      border: 1px solid $primaryColor;
      background-color: $white;
    }
  }
}
