@import '@scss/variables';
@import '@scss/mixins';
.checkoutShippingMethod {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: $black;

  .title {
    background-color: $colorBackgroundReview;
    padding: 17px 20px;
    color: $textColor;
    font-weight: 600;
    font-size: 30px;
    line-height: 36.4px;

    @include respond(large-mobile) {
      font-size: 22px;
      list-style: 28.4px;
    }
  }
}

.shippingMethodCard {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: $borderThree;
  border-radius: 5px;
  cursor: pointer;

  .leftContent {
    h4 {
      font-weight: 400;
      font-size: 15px;
    }

    h6 {
      font-weight: 400;
      font-size: 12px;
      opacity: 0.7;

      margin-top: 3px;
    }
  }
}
.selectedCard {
  border: 1px solid $black;
  cursor: not-allowed;
  pointer-events: none;
}

.shippingMethodList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 30px;
  margin-bottom: 25px;

  @media (max-width: 495px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
