@import '@scss/variables';
@import '@scss/mixins';
.myProfileInfo {
  .myProfileInfoTitle {
    display: flex;
    gap: 25px;
    color: $black;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    align-items: center;

    .userProfileInfo {
      .fullName {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
      }
      .email {
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
  }
}

.groupTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;

  .titleHeading {
    font-size: 18px;
    line-height: 22px;
    color: $black;
    font-weight: 500;
  }

  .editButton {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: $orange;
    margin-inline-start: 7px;
    cursor: pointer;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;

  button {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    min-height: 2.5rem;
    line-height: 1.25rem;
    width: 90px;
    border: none;
    border: 2px solid $optionalTextColor;
    margin-inline-start: 12px;
    background: $greyThirteen;
  }

  .savingButton {
    background: $primaryColor;
    color: $white;

    &:disabled {
      background: $greyThirteen;
      color: $black;
    }
  }

  .resendOtpButton {
    background: $primaryColor;
    color: $white;
    font-size: 12px;
  }
}
