@import '@scss/variables';
@import '@scss/mixins';

.loginPhoneNumber {
  margin-top: 24px;
  margin-bottom: 120px;
  @include respond(large-mobile) {
    margin-bottom: 80px;
  }
}
.subTitle {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 24px;
}

.errorMessage {
  font-size: 14px;
  color: $redOne;
  font-weight: 500;
  line-height: 19px;
  margin: 10px 0;
  min-height: 30px;
}
.inputPhone {
  margin-top: 12px;
  margin-bottom: 16px;
}
.button {
  margin-top: 28px;
}
