@import "@scss/variables";
@import "@scss/mixins";
.footer {
  display: flex;
  flex-direction: column;
  background-color: $primaryColor;
  color: $white;
  @include flex(center, center);
  padding: 40px 0;
}
.footerContainer {
}
