@import '@scss/variables';
@import '@scss/mixins';
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
.productsListContainer {
  width: 100%;
  max-width: 100%;
  @include grid(3);
  gap: 12px;
  @include breakpoint-max(678px) {
    @include grid(2);
  }
  @include breakpoint-max(400px) {
    @include grid(1);
  }
}

.noResultText {
  margin: 50px auto 0;
  text-align: center;

  @media (max-width: 1216px) {
    margin-right: 20px;
    margin-left: 20px;
  }
}
