@import '@scss/variables';
@import '@scss/mixins';

.specialPrice {
  color: $greyTwo;
}
.priceContainer {
  @include flex(center, center);
  margin: 0 auto;
}
.price {
  font-weight: 500;
  font-size: 0.8rem;
  font-style: Medium;
  display: flex;
  justify-content: center;
  & > span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;
  }
}

.oldPrice {
  text-decoration: line-through;
  color: $greyTwo;
}
