@import '@scss/variables';
@import '@scss/mixins';
.productsSlider {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}
.content {
  display: flex;
  gap: 20px;
}
.titleAction {
  @include flex(center, space-between);
  h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    @include respond(large-mobile) {
      font-size: 26px;
    }
    @include respond(extra-small-mobile) {
      font-size: 22px;
    }
  }
}

.banner {
  width: 100%;
  flex-basis: 25%;
  height: 450px;
  position: relative;
  span {
    width: 100% !important;
    height: 100% !important;
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: contain;
    }
  }
}

.productsList {
  width: 100%;
  flex-basis: 100%;
}
.isBanner {
  flex-basis: 75% !important;
  position: relative;
}
.swiper {
  width: 100%;
  // display: none;
  // max-width: 900px;
}
