@import '@scss/variables';
@import '@scss/mixins';

.model {
  max-height: -webkit-fill-available;
  width: auto;
  height: auto;
  position: relative;
  padding: 30px;
  background-color: $white;
  z-index: $zIndexModal;
  border-radius: 1px;
  .close {
    padding: 3px;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 4px;
    transform: rotate(45deg);
  }
}
