@import '@scss/variables';
@import '@scss/mixins';

.megaMenu {
  width: 100%;
  border-top: 1px solid $primaryColor;
  border-bottom: 1px solid $greyLight;
  @include breakpoint-max(1024px) {
    display: none;
  }
  z-index: $zIndexHeader;
  background-color: $white;
  @include flex(center, center);
  margin: 0 auto;
  height: $heightMegaMenu;
  transition: height 0.3s;
  position: relative;
  .megaMenuList {
    width: 100%;
    display: flex;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transform: uppercase;
    gap: 16px;

    .menuItem {
      margin-inline-end: 20px;
      .menuName {
        margin-inline-end: 20px;
        position: relative;
        .text {
          &::after {
            z-index: $zIndexSidebar;
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 2px;
            background: $black;
            transition: width 0.3s;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}
.subMegaMenu {
  display: flex;
  width: 100%;
}
.subCategoryItem {
  height: 100%;
}
.subCategoryBlock {
  display: flex;
  margin: 0 auto;
  display: grid;
  height: 100%;
  @include flex(flex-start, flex-start);
  padding: 20px 12px;
  gap: 24px;
  background-color: $white;
  .subCategoryListItem {
    flex-basis: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    .item {
      font-size: 14px;
      font-weight: normal;
      span {
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 1px;
          background: $black;
          transition: width 0.3s;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
  .imageCategory {
    flex-basis: 30%;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.subCategory {
  margin: 0 auto;
  height: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(100%);
  left: 0;
  transition: all 0.3s ease;
  width: 100%;
  border-bottom: 1px solid $greyLight;
  background-color: $white;
  z-index: $zIndexHeader;
}
.menuHover:hover + .subCategory,
.subCategory:hover {
  height: 300px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  // background-color: red;
}
