@import '@scss/variables';
@import '@scss/mixins';

.verticalFilter {
  width: 100%;
  @include flex(flex-start, flex-start);
  @include breakpoint-min(1023px) {
    max-width: 320px;
  }
  @include breakpoint-max(1023px) {
    position: fixed;
    width: 0% !important;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: $zIndexSidebar;
    height: 100%;
    background-color: rgba($color: $black, $alpha: 0.5);
    transition: width 0.3s ease;
    opacity: 0;
    visibility: hidden;
  }

  .filter {
    position: sticky;
    top: 190px;
    width: 320px;
    @include breakpoint-max(1023px) {
      background: $white;
      height: 100%;
      width: 0;
    }
    @media (max-width: 1023px) {
      position: static;
    }
    .main {
      padding: 1rem 1.25rem 0;
      flex-grow: 1;
      overflow-y: scroll;
      height: auto;
      max-height: 500px;
      &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
      }
      form {
        width: 100% !important;
      }
    }
    .footer {
      display: flex;
      height: 70px;
      align-items: center;
      justify-content: space-between;
      padding: 4px;

      @include breakpoint-max(1023px) {
        padding: 4px 20px;
      }
      button {
        max-width: 130px;
      }
    }
  }
}
.activeOverlay,
.activeFilter {
  opacity: 1;
  visibility: visible;
  width: 100% !important;
  transition: width 0.3s ease;
}
.activeFilter {
  max-width: 320px !important;
}
.filterGroup {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: flex-start;
  padding: 0.5rem;

  .selected-filter {
    align-items: center;
    color: $black;
    display: inline-grid;
    font-size: 13px;
    gap: 0.5rem;
    grid-auto-flow: column;
    justify-content: center;
    min-height: 17px;
    padding: 7px;
    white-space: nowrap;
  }
}

.footer {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  //border-top: $border;
  padding: 1.25rem;

  button {
    max-width: 130px;
  }
}
.outlined {
  width: 100%;
  height: 100%;
  flex: 1;
}
.headerFilter {
  @include flex(center, space-between);
  .icon {
    cursor: pointer;
    padding: 4px;
    width: 24px;
    height: 24px;
    @include flex(center, center);
    @include breakpoint-min(1024px) {
      display: none;
    }
  }
}
