@import '@scss/variables';
@import '@scss/mixins';

.product {
  display: grid;
  padding: 30px 0px;
  border-bottom: $borderThree;

  .errorMessage {
    font-size: 14px;
    color: $redOne;
    font-weight: 500;
    line-height: 19px;
    margin: 15px;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 30px;
  }

  .row {
    align-items: flex-start;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 4.9fr 2.1fr 2.1fr;
    // grid-gap: 30px;
    // grid-template-areas: 'image details';
    // grid-template-columns: 100px 1fr;

    .productImageContainer {
      height: 100%;
    }
    @include respond(large-mobile) {
      @include flex(center, space-between);
      gap: 10px;
    }
    @include breakpoint-max(412px) {
      gap: 6px !important;
    }

    .productDetails {
      height: 100%;
      line-height: 1.5;
      font-weight: 500;
      line-height: 22.4px;
    }

    .quantity {
      grid-area: quantity;
      @include flex(center, center);
      font-weight: 500;
      line-height: 22.4px;
      color: $black;

      .quantityContainer {
        direction: ltr;
        display: grid;
        grid-template-columns: 30px 40px 30px;
        border: none;

        button,
        input {
          margin: auto;
          display: inline;
          width: 30px;
          height: 30px;
          border: $borderOne;
          background: $white;
          padding: 0;
        }

        button {
          &:active {
            background: $blue;
          }

          &:hover {
            border-color: $black;
          }

          &:disabled {
            background: $white;
            color: #adb5bd;
            border: 1px solid #adb5bd;
          }

          .buttonIconContainer {
            width: 20px;
            height: 20px;
            padding: 0;
            margin: auto;
          }
        }

        input {
          text-align: center;
        }

        input[type='number']::-webkit-inner-spin-button,
        input[type='number']::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }

    .subtotal {
      @include flex(flex-end, center);
      flex-direction: column;
      font-size: 13px;
      width: 160px;
      margin-inline-start: auto;
      @include respond(large-mobile) {
        display: none !important;
      }
      .specialPrice {
        color: $specialPriceColor;
      }

      .regularPrice {
        color: $greyFour;
        text-decoration: line-through;
      }
    }
  }
}
.colProductName {
  display: flex;
  gap: 10px;
  @include breakpoint-max(412px) {
    gap: 6px;
  }
}

.priceSubtotal {
  font-weight: 500;
  line-height: 20.8px;
  display: flex;
  justify-content: flex-end !important;
  font-weight: 500;
  line-height: 22.4px;
  color: $black;
}
.subtotal {
  @include respond(large-mobile) {
    display: none !important;
  }
}
