@import "@scss/variables";
@import "@scss/mixins";

.tabPane {
  @include flex(center, center);
  height: 100%;
  min-height: 52px;
  background: #f3f8eb;
  margin-top: 30px;
}
.tabId {
  width: 100%;
  max-width: 168px;
  height: 32px;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  opacity: 0.7;
  @include flex(center, center);
  cursor: pointer;
}
.tabActive {
  opacity: 1;
  background: $white;
  border-radius: 2px;
  @include respond(large-mobile) {
    margin: 0 12px;
  }
}
