@import '@scss/mixins.scss';
@import '@scss/variables.scss';
@import '~react-image-gallery/styles/scss/image-gallery.scss';

html,
body {
  color-scheme: light;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: $black;
  background-color: $white;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

// Scroll bar
/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  // background: $lightGrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: $grey03;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: $grey03;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 206px auto 0;
}
.main-container {
  width: 100%;
  max-width: 1232px;
  padding: 0 8px;
}
.MuiPaper-root {
  position: relative;
  top: 255px !important;
  ul li {
    font-size: 14px;
  }
}
.button {
  width: 100%;
  max-width: 100%;
  height: 40px;
  padding: 0 12px !important;
}
.MuiBox-root {
  width: 100%;
  max-width: 710px !important;
  @include respond(large-mobile) {
    padding: 0 16px;
  }
}
