// fonts
$work-sans: 'Work Sans', sans-serif;
$spectral: 'Spectral', serif;
$archivo: 'Archivo', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$font-family: $archivo;
$font-family--rtl: 'Droid Arabic Kufi';

// color
$primary-color: #131313;
$primary-color--disabled: #cccdcb;
$secondary-color: #fd6a62;
$basic-color: #82b736;
$border-green: #149447;

$black: #000;
$black--two: #333;
$black--three: #222;
$black-four: #b3b3b3;
$black-five: #02150a;
$black-six: rgba(14, 14, 19, 0.8);
$black-seven: rgba(14, 14, 19, 0.5);
$white: #fff;
$grey: #7e7e7e;
$grey--light: #fafafa;
$grey--two: #d6d6d6;
$grey--three: #e7e7e7;
$grey--four: #f8f8f8;
$grey--five: #fafbfd;
$grey--six: #999999;
$grey--seven: #777777;
$grey--eight: #d0d0d0;
$grey--nine: #dcdcdc;
$grey--ten: #eeeeee;
$grey--eleven: #ccc;
$grey--twelve: #aaaaaa;
$grey--thirteen: #dddddd;
$grey--fourteen: #696969;
$grey--fifteen: #ababab;
$grey--sixteen: #d8d8d8;
$grey--seventeen: #e0e0e0;
$grey--eighteen: #ededed;
$grey--nineteen: #e8e8e8;
$grey--twenty: #e6e6e6;
$grey--twentyOne: #f7f7f7;
$grey--twentyTwo: #f2f2f2;
$grey--twentyThree: #505050;
$grey--twentyFour: #f9f9f9;
$grey--twentyFive: #f0ddd6;
$grey--twentySix: #878787;
$grey--twentySeven: #9b9b9b;
$grey--twentyEight: #ebebeb;
$grey--twentyNine: #f4f4f4;
$grey--thirty: #abb8c0;
$grey--thirtyOne: rgb(223, 225, 226);
$grey--thirtyTwo: rgb(244 245 245);
$grey--thirtyThree: #c4c4c4;
$grey--thirtyFour: #666666;
$grey--thirtyFive: #f0f1f3;
$grey--thirtySix: #b5b8ba;
$grey--thirtySeven: #e6e8e7;
$grey--thirtyEight: #f3f8eb;
$grey--thirtyNine: #cccfcc;
$grey--thirtyTen: rgb(205, 205, 205);
$grey--forty: #f3f7e9;
$grey--fortyOne: #737a7e;
$grey--fortyTwo: #555;
$grey--fortyThree: #adb5bd;
$grey--fortyFour: #bfbfbf;
$grey--fortyFive: #f6f7fc;

$grey--recommend-text: rgb(118, 123, 127);
$disable-button-background: rgba(0, 0, 0, 0.2);
$text-shadow: 10px 10px 24px rgba(0, 0, 0, 0.05);

$red--one: #c5010e;
$red--two: #ff0000;
$red--three: #c61932;
$red--four: #d11830;
$red--five: #c9253d;
$red--seven: #c9252d;
$green--one: #98d8ca;
$green--two: #edf6eb;
$green--three: #a3d39c;
$green--four: #e6f0f4;
$green--five: #6fcf97;
$green--six: #149447;
$green--seven: #cbe1ac;
$green--eight: #f3f8db;
$blue--one: #1e73be;
$blue--two: #ecf4fb;
$blue--three: #7eb7e6;
$blue--four: #6d7f96;
$blue--five: #404969;
$blue--six: #172026;
$blue--seven: #2f80ed;
$yellow--one: #dd9933;
$yellow--two: #f5cc26;
$yellow--three: #f8f5de;
$yellow--four: #ddb759;
$yellow--five: #b4931f;
$orange--one: #f26522;
$orange--two: RGBA(249, 160, 0, 0.1);
$orange: #fe4a00;
$brown--one: #7a403a;
$theme-color--default: $black;
$theme-color--heading: $black;
$transition--default: all 0.3s;
$crimson: crimson;
$optional-text-color: #929292;
$error-text-color: rgb(201, 37, 45);
$special-price-color: #e92728;
$delivery-time-special-color: #0d99ff;
$green--background-sidebar: rgba(130, 183, 54, 0.1);
$required-text-color: #e02b27;
$purple: #493c7c;

$counting-badge-color: #ed0006;
$address-title--gray: #929292;
$country-dropdown-background: #f5f5f5;
$wallet-button-color: rgba(150, 150, 150, 0.2);
$wallet-box-shadow: 0px 3px 5px rgb(0 0 0 / 15%);
$customer-service-box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
$customer-service-item-border: 1px solid rgba(223, 225, 226, 1);
$transaction-history-box-shadow: 0px 3px 5px rgb(0 0 0 / 15%);
$search-input-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

$tamara-widget-inner-text-color: #2c3e50;
$tamara-payment-method-note-color: #666666;
$tamara-line-color: #f2f2f2;

$range-slider-box-shadow: 0px 2px 6px #aaa;

//border
$border--primary: 1px solid #d5d5d5;
$border--one: 1px solid $white;
$border--two: 1px solid $black;
$border--three: 1px solid #495057;
$border--four: 1px solid $grey--eighteen;
$border--five: 1px solid $grey--fortyThree;
$border--six: 1px solid $black--two;
$border--seven: 1px solid #d9d9d9;
$border--eight: 1px solid #f0f1f3;
$border--nine: 1px solid rgba(0, 0, 0, 0.2);
$border--ten: 2px solid $white;
$border--eleven: 1px solid $black-four;
$border--twelve: 1px solid $grey--sixteen;
$border--thirteen: 1px solid $grey--thirtyFive;
$border--fourteen: 1px solid #e5e5e5;
$border--fifteen: 1px solid $grey--thirtyOne;
$border--sixteen: 1px solid $grey--thirtyFive;
$border-seventeen: 1px solid #dedede;
$border-eighteen: 1px solid #d2d5d4;
$border--error: 1px solid $special-price-color;
$border--option-selected: 2px ridge $white;
$border--tippy-arrow: 7px solid rgb(221, 221, 221);
$border--customize-bundle: 1px #e4e4e4 solid;
$border--input-middle: 1px solid rgba(111, 126, 160, 0.3);

$product-item-hover-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

// z-index
$z-index--sidebar: 999;
$z-index--mask-root: 998;
$z-index--header: 899;
$z-index--indicator: 9999;
$z-index--dropdown: 199;
$z-index--slider-button: 10;

//
$shadowTable: 2px 2px 10px rgba(26, 41, 128, 0.1);
$shadowContainer: 2px 2px 10px rgba(26, 41, 128, 0.1);
