// color
$primaryColor: #149447;
$textColor: #131313;

$disabled: #cccdcb;
$secondaryColor: #fd6a62;
$basicColor: #82b736;

$black: #000;
$blackTwo: #333;
$blackThree: #222;
$blackFour: #02150a;
$blackSix: #1f0804;
$white: #fff;
$grey: #7e7e7e;
$greyLight: #f0f1f3;
$greyTwo: #d6d6d6;
$greyThree: #e7e7e7;
$greyFour: #c4c4c4;
$greyFive: #f8f8f8;
$greyOne: #f0f1f3;
$redOne: #c9253d;
$redTwo: #d11830;
$greyForty: #adb5bd;
$specialPriceColor: #e92728;

$textShadow: 10px 10px 24px rgba(0, 0, 0, 0.05);

$blue: #7eb7e6;

//border
$borderPrimary: 1px solid #d5d5d5;
$errorTextColor: rgb(201, 37, 45);
$border: 1px solid #f0f1f3;
$borderOne: 1px solid #d9d9d9;
$borderTwo: 1px solid #adb5bd;
$borderThree: 1px solid #f0f1f3;
$borderFour: 1px solid #e5e5e5;

// z-index
$zIndexSidebar: 999;
$zIndexHeader: 899;
$zIndexIndicator: 9999;
$zIndexDropdown: 199;

//
$shadowTable: 2px 2px 10px rgba(26, 41, 128, 0.1);
$shadowContainer: 2px 2px 10px rgba(26, 41, 128, 0.1);

// height Header
$heightTopBar: 42px;
$heightMainHeader: 94px;
$heightMegaMenu: 50px;
$heightHeader: calc(heightTopBar + heightMainHeader + heightMegaMenu);
